body {
    background-image: url(../img/halloweencalabazas.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: aliceblue;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, p {
    margin: 0;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
}

h1 {
    font-size: 3em;
    color: #ff6347;
}

h2 {
    font-size: 2em;
    color: #ffeb3b;
}

p {
    font-size: 1.2em;
    color: aliceblue;
}

img {
    border: 3px solid #ffeb3b;
    box-shadow: 0px 0px 15px 5px #000;
    transition: transform 0.2s; /* Animación suave al hacer hover */
}

img:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar sobre la imagen */
}

/* Modal */
.modal {
    display: none; /* Ocultar inicialmente */
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9); /* Fondo oscuro */
}

.modal-content {
    margin: auto;
    display: block;
    width: 30%; /* Ajuste del tamaño para pantalla grande */
    max-width: 700px;
    max-height: 80vh; /* Mantener altura máxima en el 85% de la altura del viewport */
}

#caption {
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

/* Estilo del botón de cierre */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #f00;
    cursor: pointer;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1, h2, p {
        padding: 5px;
    }

    img {
        width: 90%;
    }

    .modal-content {
        width: 95%; /* Para que ocupe más espacio en dispositivos móviles */
        max-width: none;
    }
}
